*{
    font-family: Poppins;
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(42, 102, 102);
    font-weight: bold;
    text-decoration:underline;
}
h2{
    text-align: center;
    text-decoration: underline;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
img{
   max-width: 49%;
   max-height: 49%; 
   height:auto;
   width: auto;
   border-radius: 30px;
   margin: 30px 0px 0px 0px; 
}
video{
    border-radius: 30px;
    margin: 10px 0px 10px 400px;
}
.centred_image{
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px; 
}

.button_center{
    /*display: block;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: white ;
    color: black;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
}

button{
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;    
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.info_form {
    border-radius: 5px;
    background-color: rgb(195, 234, 255);
    padding: 20px;
    margin: 0px 300px 60px 300px;
  }
label{
    font-size: 18px;
    font-weight: 500px;
}